{% extends 'admin/change_list.html' %}
{% load fb_tags %}
{% block extrahead %}
{{ block.super }}
{% include 'admin/facebook/login-button.html' %}
{% endblock %}

{% block footer %}
<p>Make sure your page has an access token if you would like to post a message in the future. (Select 'get access token' from the menu above.)</p>
<p>The access token is only for the application {% fb_first_app %}.</p>
<div id="fb-login-button" style="display:block;">
    <fb:login-button show-faces="false" width="200" max-rows="1" perms="user_events, email, rsvp_event, create_event, friends_events, read_stream, publish_stream, user_photos, manage_pages"></fb:login-button>
</div>
<p>App Access Token: {% access_token request %}</p>
<p>User Access Token: <span id="user-access-token">None</span></p>
<p id="fb-is-logged-in" style="display:none;">FB eingeloggt</p>
{{ block.super }}
{% endblock %}