{% extends "admin/change_form.html" %}
{% load i18n adminmedia fb_tags %}

{% block extrahead %}
{{ block.super }}
{% include 'admin/facebook/login-button.html' %}
{% endblock %}


{% block after_field_sets %}
<div id="fb-login-button" style="display:block;">
	<!--select id="fb-app-select" onchange="change_app()">
		{% for app in facebook_apps %}
		<option value="{{ app }}">{{ app }}</option>
		{% endfor %}
	</select-->Application: {% fb_first_app %} &nbsp;
    <fb:login-button show-faces="false" width="200" max-rows="1" scope="user_events, email, rsvp_event, create_event, friends_events, read_stream, publish_stream, user_photos, manage_pages, read_insights"></fb:login-button>
</div>
<p>App Access Token: {{ graph.access_token }}, via {{ graph.via }}</p>
<p>User Access Token: <span id="user-access-token">None</span></p>
<p id="fb-is-logged-in" style="display:none;">FB eingeloggt</p>
{% endblock %}