{% extends "admin/change_form.html" %}
{% load i18n adminmedia fb_tags %}

{% block extrahead %}
{{ block.super }}
<style type="text/css">
	#id_id { width: 200px;}
	#event_url {width: 400px;}
</style>
<div id="fb-root"></div>
<script>
    fb = {};
    fb['user'] = {}
    fb['perms'] = {};
  window.fbAsyncInit = function() {
    FB.init({appId: '{% fb_app_id %}', status: true, cookie: true,
             xfbml: true});
    FB.getLoginStatus(function(response) {
        console.log(response);
      if (response.session) {
        fb.user = response.session;
        django.jQuery('#user-access-token').text(response.session.access_token);
        if (response.perms) {
            fb.perms = JSON.parse(response.perms);
           }
      }
      if (django.jQuery.inArray('user_events', fb['perms']['user']) > -1){
            // console.log('App has perms to publish to the stream');
          django.jQuery('#fb-is-logged-in').show();
      } else {
          django.jQuery('#fb-login-button').show();
      }
    });
    FB.Event.subscribe('auth.login', function() {
    });
  };
  (function() {
    var e = document.createElement('script'); e.async = true;
    e.src = document.location.protocol +
      '//connect.facebook.net/de_DE/all.js';
    document.getElementById('fb-root').appendChild(e);
  }());
  
  function change_app(){
  	FB.init({appId: django.jQuery('#fb-app-select').val(), status: true, cookie: true,
             xfbml: true});
  }
</script>
{% endblock %}


{% block after_field_sets %}
<div id="fb-login-button" style="display:block;">
	<select id="fb-app-select" onchange="change_app()">
		{% for app in facebook_apps %}
		<option value="{{ app }}">{{ app }}</option>
		{% endfor %}
	</select> (Not fully working yet)
    <fb:login-button show-faces="false" width="200" max-rows="1" perms="user_events, email, rsvp_event, create_event, friends_events, offline_access"></fb:login-button>
</div>
<p>App Access Token: {{ graph.access_token }}, via {{ graph.via }}</p>
<p>User Access Token: <span id="user-access-token">None</span></p>
<p id="fb-is-logged-in" style="display:none;">FB eingeloggt</p>
{% endblock %}