{% load fb_tags %}
<style type="text/css">
	#id_id { width: 200px;}
	#event_url {width: 400px;}
</style>
<div id="fb-root"></div>
<script type="text/javascript">
    FACEBOOK_APP_ID = '{% fb_app_id %}';
    FACEBOOK_REDIRECT_URL = '{% fb_redirect_url %}';
    FACEBOOK_CHANNEL_URL = '{% url channel %}';
</script>

<script type="text/javascript" src="{{ STATIC_URL }}facebook/fb_utils.js"></script>

<script type="text/javascript">
    function check_login(perms) {
         if (django.jQuery.inArray('user_events', perms) > -1){
            // console.log('App has perms to publish to the stream');
          django.jQuery('#fb-is-logged-in').show();
          } else {
              django.jQuery('#fb-login-button').show();
          }
    }

    FQ.add(function(){
        django.jQuery('#user-access-token').text(response.authResponse.accessToken);
        fb.get_perms(check_login);
    });
    function change_app(){
        FB.init({appId: django.jQuery('#fb-app-select').val(), status: true, cookie: true,
             xfbml: true});
    }
</script>

<script type="text/javascript">
window.log = function(){
  log.history = log.history || [];   // store logs to an array for reference
  log.history.push(arguments);
  if(this.console){
    console.log( Array.prototype.slice.call(arguments) );
  }
};

(function() {
    var e = document.createElement('script'); e.async = true;
    e.src = document.location.protocol +
    '//connect.facebook.net/de_DE/all.js';
    document.getElementById('fb-root').appendChild(e);
}());
</script>