{% extends "base.html" %}
{% load feincms_tags feincms_page_tags navigation_extras applicationcontent_tags %}

{% block meta-keywords %}{{ block.super }} {{ feincms_page.meta_keywords }}{% endblock %}
{% block meta-description %}{{ block.super }} {{ feincms_page.meta_description }}{% endblock %}
{% block meta-title %}{{ block.super }} {{ feincms_page.content_title }}{% endblock %}
    {% block css %}
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/boilerplate.css" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/global.css" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/tab.css" />
    {% endblock %}
{% block extra-css %}
    {% get_fragment request "extra-css" %}
{% endblock %}
{% block extra-head %}
<script type='text/javascript'>
   var FQ = {
        queue: new Array(),
        add: function(f) { if (typeof f == 'function') { this.queue.push(f); } },
        run: function() { while(this.queue.length > 0) { f = this.queue.pop(); f(); } }
    };
</script>
{% endblock %}

{% block extra-js %}
<script type="text/javascript">
    var fb = {};
    fb['user'] = {}
    fb['perms'] = {};

  window.fbAsyncInit = function() {
    FB.init({appId: '{{ FACEBOOK_APP_ID }}', status: true, cookie: true,
             xfbml: true});
    FB.Canvas.setAutoResize();
    FB.getLoginStatus(function(response) {
      if (response.session) {
        fb.user = response.session;
        if (response.perms.extended) {
            fb.perms = response.perms.extended;
           }
        FQ.run();    
      }
    });
    FB.Event.subscribe('auth.login', function() {
        log('logged-in');
        $('.fb-event-rsvp').show();
        $('.fb-event-login').hide();
    });
	
  };
  (function() {
    var e = document.createElement('script'); e.async = true;
    e.src = document.location.protocol +
      '//connect.facebook.net/en_US/all.js';
    document.getElementById('fb-root').appendChild(e);
  }());

SQ.add(function(){
    $('#btn-register-newsletter').fancybox({
        hideOnContentClick: false,
        titleShow: false,
        showCloseButton: false,
        type: 'iframe',
        height: 404,
        padding: 0,
        margin: 0,
        scrolling: 'no'
    });
});

</script>
    {% get_fragment request "extra-js" %}
{% endblock %}

{% block title %}{% if feincms_page.page_title %}{{ feincms_page.page_title }}{% else %}{{ feincms_page.title }}{% endif %} - {{ block.super }}{% endblock %}

{% block language-navigation %}{% endblock %}


{% block content %}
<div id="wrapper" class="container">
    <h1>{% if feincms_page.content_title %}{{ feincms_page.content_title }}{% else %}{{ feincms_page.title }}{% endif %}</h1>
    <div id="main">
        {% feincms_render_region feincms_page "main" request %}
    </div>
    <div id="bottom">
         {% feincms_render_region feincms_page "bottom" request %}
    </div>
</div>
<div id="fb-root"></div>

<a title="FEINHEIT kreativ studio | Zürich / Helvetiaplatz | Websites & Social Media Marketing" id="feinheit" target="_blank" style="color:grey; text-decoration: none; font-size: 10px; font-family:verdana; padding: 10px 0" href="http://www.feinheit.ch/dienstleistungen/social-media-marketing/">social media by FEINHEIT</a>


{% endblock %}

{% block footer %}
{% endblock %}
