.fb-event-teaser, .fb-event-rsvp {
    height: auto;
    margin-bottom: 8px;
}

.fb-event-image {
    width: 186px;
    min-height: 124px;
    height: 100%;
}
.fb-event-description {
    width: 200px;
    min-height: 124px;
    padding-left: 9px;
}
.fb-event-description>p, .fb-event-direct {
   font-size: 10px;
   margin: 0;
}